@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)

$font: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif
$color: #348eda
$light: lighten($color, 30%)
$yellow: complement(lighten($color, 30%))
$red: #fbb
$green: #9cda9c

body
  margin: 0 10px
  font-family: $font
  background: $color
  color: white
  height: 100%

a
  font-weight: bold
  color: $light
  text-decoration: none

  &:hover
    text-decoration: underline

#dashboard
  text-align: center
  font-size: 37px
  margin-bottom: 130px

  hr
    width: 300px
    margin: 10px auto
    border: none
    border-bottom: 3px solid $light

  .auth
    display: none

  .btc
    color: $light

  .usd
    color: $yellow

  .pos
    color: $green

  .neg
    color: $red

  h1
    font-size: 60px
    margin-bottom: 10px

  h2
    font-size: 37px
    margin-bottom: 10px

  h3
    font-size: 23px
    margin: 20px 0 0 0

.sub
  font-size: 23px

.error
  display: none
  color: $red

#social
  position: fixed
  bottom: 0
  left: 0
  padding: 10px
  background: rgba(0, 0, 0, .5)
  border-top-right-radius: 10px

  .item
    margin-top: 8px

    .inline
      display: inline-block

  .fb
    position: relative
    bottom: 5px

  .cb
    margin-bottom: -20px
    margin-top: 5px

@media (max-width: 768px)
  h1
    margin-top: 0

  #dashboard
    font-size: 23px

@media (max-width: 480px)
  #dashboard
    font-size: 20px

    .sub
      font-size: 20px

    hr
      width: 200px

    h1
      font-size: 37px

    h2
      font-size: 23px
