<!doctype html>
<html>
  <head>
    <title>Coinbase Snapshot</title>
    <link rel="icon" href="/s/favicon.ico">
    <meta name="description" content="A snapshot of your Coinbase account: your current Bitcoin balance, net profit, and merchant orders.">
    <meta property="og:image" content="http://www.coinbasesnapshot.com/s/image.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/s/css/style.css">
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="dashboard">
      <h1>Coinbase Snapshot</h1>
      {% if not token %}
      <div class="sub">
        <a href="https://coinbase.com/oauth/authorize?response_type=code&client_id={{ client_id }}&redirect_uri={{ redirect_url }}&scope=balance+orders+transfers">Authenticate</a> using the official Coinbase API to see your balance, net profit, and orders
      </div>
      {% else %}
      <div class="sub">
        You are logged in. <a href="/logout">Logout</a><br>
        Data refreshes every 20 seconds. <a href="#" class="refresh">Refresh now</a>
      </div>
      {% endif %}
      <div class="sub error">
        There was an error loading data. Please refresh the page or <a href="https://coinbase.com/oauth/authorize?response_type=code&client_id={{ client_id }}&redirect_uri={{ redirect_url }}&scope=balance+orders+transfers">login</a> again.
      </div>

      <div>
        <h2>Price</h2>
        <span class="btc">1 BTC</span> =
        <span class="price-usd usd"></span><span class="super"> *</span>
      </div>

      <div class="auth">
        <h2>Balance</h2>
        <div>
          <span class="balance-btc btc"></span> =
          <span class="balance-usd usd"></span><span class="super"> &dagger;</span>
        </div>

        <h2>Net Gain/Loss</h2>
        <div>
          <div>
            Buys: <span class="buys-btc btc"></span> for
            <span class="buys-usd neg"></span>
          </div>
          <div>
            Sells: <span class="sells-btc btc"></span> for
            <span class="sells-usd pos"></span>
          </div>
          <div>
            Current: <span class="balance-btc btc"></span> =
            <span class="balance-usd pos"></span>
          </div>
          <hr>
          <div>
            <span class="purchase-diff"></span>
          </div>
        </div>

        <div class="orders">
          <h2>Orders</h2>
          <div>
            <span class="orders-btc btc"></span> =
            <span class="orders-usd usd"></span>
          </div>
        </div>
      </div>
    </div>

    <div id="social">
      <div class="item">
        By <a href="http://clarkduvall.com" target="_blank">Clark DuVall</a><br>
        Source on <a href="https://github.com/clarkduvall/coinbase-snapshot" target="_blank">GitHub</a>
      </div>
      <div class="item cb">
        <a class="coinbase-button" data-code="e9f93199866c83543f48a219e232256e" data-button-style="donation_small" href="https://coinbase.com/checkouts/e9f93199866c83543f48a219e232256e">Donate Bitcoins</a>
      </div>
      <div class="item">
        <div class="inline fb">
          <div class="fb-share-button" data-href="http://www.coinbasesnapshot.com" data-type="button_count"></div>
        </div>
        <div class="inline">
          <a href="https://twitter.com/share" data-url="http://www.coinbasesnapshot.com" class="twitter-share-button" data-via="theclarkatron" data-hashtags="coinbase">Tweet</a>
        </div>
      </div>

      <div id="key">
        * Price computed using <a href="https://coinbase.com/api/doc/1.0/prices/spot_rate.html" target="_blank">spot rate</a><br>
        &dagger; Price computed using <a href="https://coinbase.com/api/doc/1.0/prices/sell.html" target="_blank">sell rate</a>
      </div>

    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
      API_TOKEN = '{{ token }}';
    </script>
    <script type="text/javascript" src="/s/js/script.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48144403-1', 'coinbasesnapshot.com');
      ga('send', 'pageview');
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=509901085796783";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
  </body>
</html>
